@import "tailwindcss";
@config "../tailwind.config.js";

:root {
	--app-bg: #cbcbcb;
}

html,
body {
	background-color: var(--app-bg);
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#root {
	min-height: 100vh;
	background-color: var(--app-bg);
}

